.con{
    text-align: center;
    font-size: 70px;
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(33, 103, 126);
    padding: 20px;
    margin-top:3rem;
}

h2{
    text-align: center;
}

.ri{
    float:right;
    margin-right: 570px;
}

.le{
    float:left;
    margin-left: 600px;
}

.ri2{
    float: right;
    margin-right:545px;
}

.ri3{
    float: right;
    margin-right:-160px;
}

.li2{
    float: left;
    margin-left:595px;
}

.li3{
    float: left;
    margin-left:620px;
}

h3{
    font-weight: 100;
}