.con{
    text-align: center;
    font-size: 70px;
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(33, 103, 126);
}

h2{
    text-align: center;
}

.ri{
    float:right;
    margin-right: 570px;
}

.le{
    float:left;
    margin-left: 600px;
}

.ri2{
    float: right;
    margin-right: -170px;
}

.li2{
    float: left;
    margin-left: -98px;
}

h3{
    font-weight: 100;
}