.contai{
    background-color: rgb(224, 233, 240);
    height:380px;
    padding:30px;
    border-radius: 5%;
}

.row{
    display:flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
    gap:100px;
}

.card{
    overflow: hidden;
    width: 100%;
    text-align: center;
}

.card img{
    min-block-size: 250px;
    width:350px;
}

.desc{
    position:relative;
    text-align:center;
    font-size: 30px;
    width: 400px;
}

.font{
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    text-shadow: 1px 1px 5px #000;
}

a{
    text-decoration:none;
}