* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.nav{
    flex-flow: row wrap;
    background-color: rgb(33, 103, 126);
    width: 100%;
    color: white;
    text-decoration: none;
    text-indent: 10px;
    display: flex;
    position: relative;
    box-sizing: border-box;
    z-index: 1;
    height: 140px;
}

.nav::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    top: 20px;
    z-index: 5;
}

.nav::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    bottom: 20px;
    z-index: 5;
}

img {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-block-size: 100px;
    padding: 5px;
    margin-left: 60px;
    margin-top: 2.5px;
}

.navBar {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    width: 80%;
    font-size: 2rem;
    margin: 10px;
}

a {
    color: rgb(214, 230, 245);
    text-decoration: none;
    padding: 40px;
    transition: color .5s;
}

a:visited {
    color: rgb(214, 230, 245);
}

a:hover, a:active {
    color: rgb(255, 255, 255);
}

.lines {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    width:97%;
    font-size: 30px;
    line-height: 1cm;
    padding: 15px;
}